Sleek reconnection behaviour: client does not back-off when talking through AWS load balancer

I'd like some guidance on sleek's intended client retry behaviour when talking to a server through a load balancer, (specifically AWS ELB).

I believe sleek is too eager to declare a client 'connected'; and the behaviour I am seeing is that failed connections are retried _without_ exponential back-off.

If no load balancer is in place, and a server is down, we get good retry behaviour _with exponential back off_.
(Example using ./register_account.py)

```
[m@wll1p00826 /data/dev/SleekXMPP/examples]$ ./register_account.py --jid test-account-1@wll1p00826.dev.example.co.uk  -p password -d
DEBUG    setting jid to test-account-1@wll1p00826.dev.example.co.uk
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0066: Out of Band Data
DEBUG    Loaded Plugin: XEP-0077: In-Band Registration
WARNING  DNS: dnspython not found. Can not use SRV lookup.
DEBUG    DNS: Querying wll1p00826.dev.example.co.uk for AAAA records.
DEBUG    DNS: Error retreiving AAAA address info for wll1p00826.dev.example.co.uk.
DEBUG    DNS: Querying wll1p00826.dev.example.co.uk for A records.
DEBUG    Connecting to 192.168.19.82:5222
ERROR    Could not connect to 192.168.19.82:5222. Socket Error #111: Connection refused
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 1.86092797522 seconds before connecting.
WARNING  DNS: dnspython not found. Can not use SRV lookup.
DEBUG    DNS: Querying wll1p00826.dev.example.co.uk for AAAA records.
DEBUG    DNS: Error retreiving AAAA address info for wll1p00826.dev.example.co.uk.
DEBUG    DNS: Querying wll1p00826.dev.example.co.uk for A records.
DEBUG    Connecting to 192.168.19.82:5222
ERROR    Could not connect to 192.168.19.82:5222. Socket Error #111: Connection refused
DEBUG    Waiting 2.28290257107 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 4.50736906305 seconds before connecting.
WARNING  DNS: dnspython not found. Can not use SRV lookup.
DEBUG    DNS: Querying wll1p00826.dev.example.co.uk for AAAA records.
DEBUG    DNS: Error retreiving AAAA address info for wll1p00826.dev.example.co.uk.
DEBUG    DNS: Querying wll1p00826.dev.example.co.uk for A records.
DEBUG    Connecting to 192.168.19.82:5222
ERROR    Could not connect to 192.168.19.82:5222. Socket Error #111: Connection refused
DEBUG    Waiting 4.0860465675 seconds before connecting.
...etc...
```

However, if we put a AWS load balancer in front of a dead node, retries occur every TCP_TIMEOUT, _with no exponential back off_.

```
[m@wll1p00826 /data/dev/SleekXMPP/examples]$ ./register_account.py --jid test-account-1@message-dev.example.com  -p password -d
DEBUG    setting jid to test-account-1@message-dev.example.com
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0066: Out of Band Data
DEBUG    Loaded Plugin: XEP-0077: In-Band Registration
WARNING  DNS: dnspython not found. Can not use SRV lookup.
DEBUG    DNS: Querying message-dev.example.com for AAAA records.
DEBUG    DNS: Error retreiving AAAA address info for message-dev.example.com.
DEBUG    DNS: Querying message-dev.example.com for A records.
DEBUG    Connecting to 54.247.90.42:5222
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='message-dev.example.com' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>

ERROR    Error reading from XML stream.
DEBUG    reconnecting...
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    connecting...
DEBUG    Waiting 2.05161167222 seconds before connecting.
DEBUG    Connecting to 176.34.106.217:5222
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='message-dev.example.com' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
ERROR    Error reading from XML stream.
DEBUG    reconnecting...
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    connecting...
DEBUG    Waiting 2.1119983653 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 4.62653813696 seconds before connecting.
WARNING  DNS: dnspython not found. Can not use SRV lookup.
DEBUG    DNS: Querying message-dev.example.com for AAAA records.
DEBUG    DNS: Error retreiving AAAA address info for message-dev.example.com.
DEBUG    DNS: Querying message-dev.example.com for A records.
DEBUG    Connecting to 54.247.90.42:5222
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='message-dev.example.com' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
```

My diagnosis is that the load balancer will complete the client-side TCP connection, (but if the cluster is down, will be unable to forward the stream to any server.)
Sleek sends `<stream>` stanza over its client connection, but this times out, fails the connections, and sleek _almost immediately_ attempts a retry.

The consequence of this is that a dead server will have many sleek clients aggressively attempting to reconnect.

I think the issue is Sleek makes _the assumption that if a TCP stream exists, then it's a valid XMPP connection_.

My proposed change is that Sleek should defer claiming a session is in 'connected' state (and resetting until the back-off timer) until it has received a valid response to `<stream>`.

What do you think?


Your assumption is correct. I'll make the reconnection timeouts not reset until a stream is actually started.


This should be fixed now.
