Can't get register_account.py to work with Prosody

Hi,

I'm new to XMPP and SleekXMPP and still getting familiar with XMPP concepts and SleekXMMP API so please forgive me if this isn't a good question.

I'm trying to register accounts against a Prosody server using the script register_account.py provided in the examples directory. I'm using the latest code from the develop branch. I read the discussion at https://groups.google.com/forum/?fromgroups=#!topic/sleekxmpp-discussion/8mUlY9sN7xE but this didn't seem to help with my use case.

Here is the script output with debugging on:

```
$ python register_account.py -d -j testing@localhost -p foo
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0066: Out of Band Data
DEBUG    Loaded Plugin: XEP-0077: In-Band Registration
WARNING  DNS: dnspython not found. Can not use SRV lookup.
DEBUG    DNS: Querying localhost for AAAA records.
DEBUG    DNS: Error retreiving AAAA address info for localhost.
DEBUG    DNS: Querying localhost for A records.
DEBUG    Connecting to [::1]:5222
ERROR    Could not connect to [::1]:5222. Socket Error #111: Connection refused
DEBUG    Connecting to 127.0.0.1:5222
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='localhost' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream version="1.0" from="localhost" id="0977974b-997a-40ef-8b3a-8512df2d7809" xml:lang="en">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>SCRAM-SHA-1</mechanism><mechanism>DIGEST-MD5</mechanism></mechanisms></stream:features>
DEBUG    SEND (IMMED): <auth xmlns="urn:ietf:params:xml:ns:xmpp-sasl" mechanism="SCRAM-SHA-1">biwsbj10ZXN0aW5nLHI9NzgwMjk2Njg4ODI5</auth>
DEBUG    RECV: <failure xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><not-authorized /></failure>
INFO     Authentication failed: not-authorized
INFO     SASL: DIGEST-MD5: Unencrypted DIGEST
ERROR    No appropriate login method.
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
DEBUG    Waiting for 3 threads to exit.
DEBUG    Quitting Scheduler thread
DEBUG    Stopped scheduler thread. 2 threads remain.
DEBUG    Stopped event runner thread. 1 threads remain.
DEBUG    Stopped send thread. 0 threads remain.
DEBUG     ==== TRANSITION connected -> disconnected
ERROR    Error reading from XML stream.
Done
```

And here is Prosody's debugging output:

```
Feb 08 12:30:10 socket  debug   server.lua: accepted new client connection from 127.0.0.1:50564 to 5222
Feb 08 12:30:10 sessionmanager  debug   open sessions now: 20
Feb 08 12:30:10 c2s8b4f9d0      info    Client connected
Feb 08 12:30:10 c2s8b4f9d0      debug   Client sent opening <stream:stream> to localhost
Feb 08 12:30:10 c2s8b4f9d0      debug   Sent reply <stream:stream> to client
Feb 08 12:30:10 c2s8b4f9d0      debug   Received[c2s_unauthed]: <auth mechanism='SCRAM-SHA-1' xmlns='urn:ietf:params:xml:ns:xmpp-sasl'>
Feb 08 12:30:10 auth_internal_plain     debug   get_password for username 'testing' at host 'localhost'
Feb 08 12:30:10 datamanager     debug   Assuming empty accounts storage ('cannot open /home/synadmin/var/prosody/localhost/accounts/testing.dat: No such file or directory') for user: testing@localhost
Feb 08 12:30:10 localhost:saslauth      debug   sasl reply: <failure xmlns='urn:ietf:params:xml:ns:xmpp-sasl'><not-authorized/></failure>
Feb 08 12:30:10 c2s8b4f9d0      debug   Received </stream:stream>
Feb 08 12:30:10 socket  debug   server.lua: closed client handler and removed socket from list
Feb 08 12:30:10 c2s8b4f9d0      info    Client disconnected: session closed
Feb 08 12:30:10 c2s8b4f9d0      info    Destroying session for (unknown) ((unknown)@localhost)
```

I can successfully create accounts using Pidgin. In that case here is the server's debugging output:

```
Feb 08 12:34:02 socket  debug   server.lua: accepted new client connection from 127.0.0.1:50679 to 5222
Feb 08 12:34:02 sessionmanager  debug   open sessions now: 17
Feb 08 12:34:02 c2s8b0c920      info    Client connected
Feb 08 12:34:02 c2s8b0c920      debug   Client sent opening <stream:stream> to localhost
Feb 08 12:34:02 c2s8b0c920      debug   Sent reply <stream:stream> to client
Feb 08 12:34:02 c2s8b0c920      debug   Received[c2s_unauthed]: <iq id='purplec580b7c9' type='get'>
Feb 08 12:34:07 c2s8b0c920      debug   Received[c2s_unauthed]: <iq id='purplec580b7ca' type='set'>
Feb 08 12:34:07 datamanager     debug   Assuming empty accounts storage ('cannot open /home/synadmin/var/prosody/localhost/accounts/testing.dat: No such file or directory') for user: testing@localhost
Feb 08 12:34:07 auth_internal_plain     debug   account not found for username 'testing' at host 'localhost'
Feb 08 12:34:07 localhost:register      info    User account created: testing@localhost
Feb 08 12:34:07 c2s8b0c920      debug   Received </stream:stream>
Feb 08 12:34:07 socket  debug   server.lua: closed client handler and removed socket from list
Feb 08 12:34:07 c2s8b0c920      info    Client disconnected: session closed
Feb 08 12:34:07 c2s8b0c920      info    Destroying session for (unknown) ((unknown)@localhost)
```

I can also show ngrep output of the XML messages that get transferred across the network.

With register_account.py:

```
######
T 127.0.0.1:50868 -> 127.0.0.1:5222 [AP]
  <stream:stream to='localhost' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>                                                                          
##
T 127.0.0.1:5222 -> 127.0.0.1:50868 [AP]
  <?xml version='1.0'?><stream:stream xmlns='jabber:client' xmlns:stream='http://etherx.jabber.org/streams' id='55718bd3-ef01-4c4f-9625-509cd128981b' from='localhost' version='1.0' xml:lang='en'><stream:f
  eatures><mechanisms xmlns='urn:ietf:params:xml:ns:xmpp-sasl'><mechanism>SCRAM-SHA-1</mechanism><mechanism>DIGEST-MD5</mechanism></mechanisms></stream:features>                                           
##
T 127.0.0.1:50868 -> 127.0.0.1:5222 [AP]
  <auth xmlns="urn:ietf:params:xml:ns:xmpp-sasl" mechanism="SCRAM-SHA-1">biwsbj10ZXN0aW5nLHI9MjEzNzk0OTE2NTM3</auth>                                                                                        
#
T 127.0.0.1:5222 -> 127.0.0.1:50868 [AP]
  <failure xmlns='urn:ietf:params:xml:ns:xmpp-sasl'><not-authorized/></failure>                                                                                                                             
#
T 127.0.0.1:50868 -> 127.0.0.1:5222 [AP]
  </stream:stream>                                                                                                                                                                                          
#
T 127.0.0.1:5222 -> 127.0.0.1:50868 [AP]
  </stream:stream>                                                                                                                                                                                          
####
```

With Pidgin:

```
####
T 127.0.0.1:50914 -> 127.0.0.1:5222 [AP]
  <?xml version='1.0' ?>                                                                                                                                                                                    
##
T 127.0.0.1:50914 -> 127.0.0.1:5222 [AP]
  <stream:stream to='localhost' xmlns='jabber:client' xmlns:stream='http://etherx.jabber.org/streams' version='1.0'>                                                                                        
##
T 127.0.0.1:5222 -> 127.0.0.1:50914 [AP]
  <?xml version='1.0'?><stream:stream xmlns='jabber:client' xmlns:stream='http://etherx.jabber.org/streams' id='d01dc8e5-ce5a-4835-9908-bec688f3d620' from='localhost' version='1.0' xml:lang='en'><stream:f
  eatures><mechanisms xmlns='urn:ietf:params:xml:ns:xmpp-sasl'><mechanism>SCRAM-SHA-1</mechanism><mechanism>DIGEST-MD5</mechanism></mechanisms></stream:features>                                           
##
T 127.0.0.1:50914 -> 127.0.0.1:5222 [AP]
  <iq type='get' id='purple524d837a'><query xmlns='jabber:iq:register'/></iq>                                                                                                                               
#
T 127.0.0.1:5222 -> 127.0.0.1:50914 [AP]
  <iq id='purple524d837a' type='result'><query xmlns='jabber:iq:register'><instructions>Choose a username and password for use with this service.</instructions><username/><password/></query></iq>         
##
T 127.0.0.1:50914 -> 127.0.0.1:5222 [AP]
  <iq type='set' id='purple524d837b'><query xmlns='jabber:iq:register'><username>testing</username><password>foo</password></query></iq>                                                                    
#
T 127.0.0.1:5222 -> 127.0.0.1:50914 [AP]
  <iq id='purple524d837b' type='result'/>                                                                                                                                                                   
##
T 127.0.0.1:50914 -> 127.0.0.1:5222 [AP]
  </stream:stream>                                                                                                                                                                                          
##
T 127.0.0.1:5222 -> 127.0.0.1:50914 [AP]
  </stream:stream>                                                                                                                                                                                          
#
```

So the problem seem to be that register_account doesn't send the register iq stanza when it should? Would you have any hint about how I could tackle this issue?


So the issue here is that the server isn't advertising the fact that it allows registrations. In the stream features, Sleek is looking for:

```
<register xmlns="http://jabber.org/features/iq-register" />
```

Pidgin apparently is trying regardless of if the server advertises the support.

Which version of Prosody are you using?


I'm using Prosody 0.8.2 installed from source using the tarball at http://prosody.im/downloads/source/prosody-0.8.2.tar.gz

For what it's worth, I tried XMPPPY and it worked with this code snippet: http://stackoverflow.com/questions/5131982/is-there-any-python-xmpp-library-that-supports-adding-removing-users


I just chatted with the Prosody guys, and its not until the 0.9 version that the IBR feature is advertised.

So, instead of Sleek relying on the feature that is supposed to be there, it looks like I need to force it to do IBR, like the other clients are doing.


I've made a xep_0077 branch that attempts to force registration attempts. Try it out and see if it works for you.

It also updates the register account example to add: `xmpp['xep_0077'].force_registration = True`


```
$ python register_account.py -d -j foo@localhost -p bar
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0066: Out of Band Data
DEBUG    Loaded Plugin: XEP-0077: In-Band Registration
WARNING  DNS: dnspython not found. Can not use SRV lookup.
DEBUG    DNS: Querying localhost for AAAA records.
DEBUG    DNS: Error retreiving AAAA address info for localhost.
DEBUG    DNS: Querying localhost for A records.
DEBUG    Connecting to [::1]:5222
ERROR    Could not connect to [::1]:5222. Socket Error #111: Connection refused
DEBUG    Connecting to 127.0.0.1:5222
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='localhost' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream version="1.0" from="localhost" id="f8026067-13c5-4065-b5c2-ec8a0ca01640" xml:lang="en">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>SCRAM-SHA-1</mechanism><mechanism>DIGEST-MD5</mechanism></mechanisms></stream:features>
DEBUG    SEND (IMMED): <auth xmlns="urn:ietf:params:xml:ns:xmpp-sasl" mechanism="SCRAM-SHA-1">biwsbj1mb28scj02NDUzNzA5MzkxNDU=</auth>
DEBUG    RECV: <failure xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><not-authorized /></failure>
INFO     Authentication failed: not-authorized
INFO     SASL: DIGEST-MD5: Unencrypted DIGEST
ERROR    No appropriate login method.
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
DEBUG    Waiting for 3 threads to exit.
DEBUG    Quitting Scheduler thread
DEBUG    Stopped scheduler thread. 2 threads remain.
DEBUG    Stopped event runner thread. 1 threads remain.
DEBUG    Stopped send thread. 0 threads remain.
DEBUG     ==== TRANSITION connected -> disconnected
ERROR    Error reading from XML stream.
Done
```


Ah, ok. I added a check when forcing registration that TLS has been activated. To disable that, you'd need to specify `use_tls=False` when connecting.


It works like a charm. Thanks!
