Latest git doesn't fall back to IPv4 when IPv6 is unavailable

On an IPv4-only network, it loops forever without trying the A record:

```
Fri, 17 Feb 2017 23:38:19 DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
Fri, 17 Feb 2017 23:38:19 DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
Fri, 17 Feb 2017 23:38:19 DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
Fri, 17 Feb 2017 23:38:19 DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
Fri, 17 Feb 2017 23:38:19 DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
Fri, 17 Feb 2017 23:38:19 DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
Fri, 17 Feb 2017 23:38:19 DEBUG    Waiting 2.01867376323 seconds before connecting.
Fri, 17 Feb 2017 23:38:21 DEBUG    DNS: Querying SRV records for dashjr.org
Fri, 17 Feb 2017 23:38:21 DEBUG    DNS: Querying zinan.dashjr.org for AAAA records.
Fri, 17 Feb 2017 23:38:21 DEBUG    DNS: Querying zinan.dashjr.org for A records.
Fri, 17 Feb 2017 23:38:21 DEBUG    Connecting to [2001:470:88ff:2f::1]:5222
Fri, 17 Feb 2017 23:38:21 DEBUG    Event triggered: socket_error
Fri, 17 Feb 2017 23:38:21 ERROR    Could not connect to [2001:470:88ff:2f::1]:5222. Socket Error #101: Network is unreachable
```