Error connecting to suchat.org, xmpp.jp, jabber.at, jwchat.org, etc

# My environment

```console
$ python3 --version
Python 3.4.2
$ python3 -c "import sleekxmpp; print(sleekxmpp.__version__)"
1.3.3
$ wget https://raw.githubusercontent.com/fritzy/SleekXMPP/develop/examples/echo_client.py
converted 'https://raw.githubusercontent.com/fritzy/SleekXMPP/develop/examples/echo_client.py' (ANSI_X3.4-1968) -> 'https://raw.githubusercontent.com/fritzy/SleekXMPP/develop/examples/echo_client.py' (UTF-8)
--2018-10-10 07:56:43--  https://raw.githubusercontent.com/fritzy/SleekXMPP/develop/examples/echo_client.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.132.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.132.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5531 (5.4K) [text/plain]
Saving to: 'echo_client.py'

echo_client.py                             100%[=======================================================================================>]   5.40K  --.-KB/s   in 0.01s  

2018-10-10 07:56:44 (539 KB/s) - 'echo_client.py' saved [5531/5531]
```

# The problem

## suchat.org

I have severals bots in suchat.org and most of times they connect without problems, but some times happens this:

```console
$ python3 echo_client.py --j ****@suchat.org -p *********** -v
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    Waiting 1.866433660421062 seconds before connecting.
DEBUG    DNS: Querying SRV records for suchat.org
DEBUG    DNS: Querying xmpp.suchat.org for AAAA records.
DEBUG    DNS: Querying xmpp.suchat.org for A records.
DEBUG    Connecting to [2001:41d0:2:a2a9::]:5222
DEBUG    Event triggered: socket_error
ERROR    Could not connect to [2001:41d0:2:a2a9::]:5222. Socket Error #101: Network is unreachable
DEBUG    Waiting 2.051835884095011 seconds before connecting.
DEBUG    Connecting to 188.165.215.169:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='suchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream from="suchat.org" id="17586226655012660398" xml:lang="en" version="1.0">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIHzzCCBregAwIBAgISAxpC56kz/7z+9W8roZsrNjY3MA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA5MjUxNzM0MTJaFw0x
ODEyMjQxNzM0MTJaMBUxEzARBgNVBAMTCnN1Y2hhdC5vcmcwggIiMA0GCSqGSIb3
DQEBAQUAA4ICDwAwggIKAoICAQDSBqcbxVnvE07wlI4SXh4pGbcN5jHUDoj7BjxQ
5Onaz20gjhB0V7j/ORjmzk/RiN0NtBCJd8MLz3EL9AbD9H4YDkm6jPWg4dbgrmV4
1Uxi99MpHZZBR5iQOVtJgTrHW3Q+SJJQpWu6uBi6/9BxVyZV6PV2i8vr1q/ZIrmF
eKODJaail5wV1J3x8/fy+2wuOJytfIPHXNRCTbtBrXmzy8vqSl0UmWjDP/qBmPTq
IFxnmmsgEtLWEIg7C3E5ocOU0OOZGqGYDiFUf2Xlh2C3pXE9nT8rSRB/AyXYMAlg
9MuLmW4zoEUJnffKe5msSqKc5yjTnKiMN6HebwralKn1Oj1GaJF/N3162FekwaCS
2UO90TGYp5cCu9taSWSU0uzJ+aSE5YVDgAF0FtTAEfvMTh/xKqpBmlUbLhlS3dEG
GOU1AwL7rJG52vqgeApxVyR30kGo5F7gClkgL4wYLW22k/Ee4+MGfzXGBdk+ao0M
oELkVbQv1AVhICjHfdHU+/rPM8xkrWqqjgQScoFSxhfJj+79qOq35X6zKvJFBVRR
l8LARRjjsGJF7laQ+NhtmcNpDX24BJG2cjgm6vBu7OM6R8Zu7krPz8JmqQxMYB+b
KepyqH6RxDoNpPiAUEDqLH4F9TxfstKkbeNXrEGkoHozUW9KLenLwTgL7WqebeCG
3PogDQIDAQABo4ID4jCCA94wDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsG
AQUFBwMBBggrBgEFBQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBTbOR1B2pLK
eiQ4hQ+PGtUuMNWCcDAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBv
BggrBgEFBQcBAQRjMGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5s
ZXRzZW5jcnlwdC5vcmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5s
ZXRzZW5jcnlwdC5vcmcvMIHlBgNVHREEgd0wgdqCD2VjaG8uc3VjaGF0Lm9yZ4IO
aXJjLnN1Y2hhdC5vcmeCDm1peC5zdWNoYXQub3JnghBwcm94eS5zdWNoYXQub3Jn
ghFwdWJzdWIuc3VjaGF0Lm9yZ4IQc2FsYXMuc3VjaGF0Lm9yZ4IOc2lwLnN1Y2hh
dC5vcmeCD3N0dW4uc3VjaGF0Lm9yZ4IKc3VjaGF0Lm9yZ4IPdHVybi5zdWNoYXQu
b3JnghF1cGxvYWQuc3VjaGF0Lm9yZ4IOd3d3LnN1Y2hhdC5vcmeCD3htcHAuc3Vj
aGF0Lm9yZzCB/gYDVR0gBIH2MIHzMAgGBmeBDAECATCB5gYLKwYBBAGC3xMBAQEw
gdYwJgYIKwYBBQUHAgEWGmh0dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIGrBggr
BgEFBQcCAjCBngyBm1RoaXMgQ2VydGlmaWNhdGUgbWF5IG9ubHkgYmUgcmVsaWVk
IHVwb24gYnkgUmVseWluZyBQYXJ0aWVzIGFuZCBvbmx5IGluIGFjY29yZGFuY2Ug
d2l0aCB0aGUgQ2VydGlmaWNhdGUgUG9saWN5IGZvdW5kIGF0IGh0dHBzOi8vbGV0
c2VuY3J5cHQub3JnL3JlcG9zaXRvcnkvMIIBAwYKKwYBBAHWeQIEAgSB9ASB8QDv
AHUAwRZK4Kdy0tQ5LcgKwQdw1PDEm96ZGkhAwfoHUWT2M2AAAAFmEgKa3QAABAMA
RjBEAiB51SApFSTXYBojrp0Nam1zXbHranhwsUzNezhr3CbXSQIgFOodSlQebo75
LyEzjHDBKgB6Mv+nn7gye9dlFtdGMuQAdgApPFGWVMg5ZbqqUPxYB9S3b79Yeily
3KTDDPTlRUf0eAAAAWYSApsJAAAEAwBHMEUCIQDT5oh4I6C5lELE9WJ8V9RFxmEf
ZbpVWI2SKSkHwY8D3AIgDKCPsVnWFZbId6mVwjUYMaTH0xmhveeBzYVyhYnKByAw
DQYJKoZIhvcNAQELBQADggEBAGk0b0stdvrmE9hwGbBrQ9nsIgSDyB5mZPbqmOa/
3ucJRtg+TMcLJ2AWgmVGERpYgPqVBaJD6avGEp+c6fRs3kkx4fSLPYMPrQfUD86y
sonagS2KBNBpRjv5ol/lq4EkUonaNyK9eH1FguEz4P98qqULVF1DUw3y+E/SovgL
GR/1YJdPhHHTjiU50lUQNI8g5vsjF/aTWdS9e9eoWbvl96YioVLlI2V0RHxDoDBP
v9MxeQzwBMpY+t/JhgSLYkGPU2QwS5c+afxjfHBfQbYJZK+h7bJtvlN+Kck5m0zd
4VfB0BHoxPmH2sjRAlKEAazeQu58/0td7yr8wdRm+BcuATc=
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Certificate has expired.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    SEND (IMMED): <stream:stream to='suchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Event triggered: socket_error
WARNING  Failed to send b"<stream:stream to='suchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>"
DEBUG    Event triggered: session_end
DEBUG    Event triggered: socket_error
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    Event triggered: socket_error
ERROR    Socket Error #9: Bad file descriptor
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 1.9759027533654703 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 4.251945450345534 seconds before connecting.
```

In fact, I have issues also with others servers:

## xmpp.jp

```console
$ python3 echo_client.py --j *****@xmpp.jp -p ************ -v
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    Waiting 1.853556919293354 seconds before connecting.
DEBUG    DNS: Querying SRV records for xmpp.jp
DEBUG    DNS: Querying gw.lb.xmpp.jp for AAAA records.
DEBUG    DNS: No AAAA records for gw.lb.xmpp.jp
DEBUG    DNS: Querying gw.lb.xmpp.jp for A records.
DEBUG    Connecting to 160.16.217.191:5222
DEBUG    Event triggered: socket_error
ERROR    Could not connect to 160.16.217.191:5222. Socket Error #110: Connection timed out
DEBUG    Waiting 2.1215832743751446 seconds before connecting.
DEBUG    DNS: Querying xmpp.jp for AAAA records.
DEBUG    DNS: No AAAA records for xmpp.jp
DEBUG    DNS: Querying xmpp.jp for A records.
DEBUG    Connecting to 160.16.217.191:5222
DEBUG    Event triggered: socket_error
ERROR    Could not connect to 160.16.217.191:5222. Socket Error #110: Connection timed out
DEBUG    Waiting 1.9944339693458557 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 3.759877998182092 seconds before connecting.
DEBUG    DNS: Querying SRV records for xmpp.jp
DEBUG    DNS: Querying gw.lb.xmpp.jp for AAAA records.
DEBUG    DNS: No AAAA records for gw.lb.xmpp.jp
DEBUG    DNS: Querying gw.lb.xmpp.jp for A records.
DEBUG    Connecting to 160.16.217.191:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='xmpp.jp' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream xml:lang="en" from="xmpp.jp" id="10953271583116695553" version="1.0">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIGFDCCBPygAwIBAgISBBGATHT54/rXbPFyrFIcETZZMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA5MTEwOTEyMTRaFw0x
ODEyMTAwOTEyMTRaMBIxEDAOBgNVBAMTB3htcHAuanAwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQDQtv/DCMrfAEL3EvNzaz2iYUEjYimZGGL9gavu4ra5
mJHvN/bHHim8AIl3jbpeeTgYtW9SINkSqkMrcm8sR7kk7qcjLZSm3PRLlE10Te5d
QIGNsfXG9VNudgjVqTlro1Q6fFSvM52oDahWDUJixJVtbw5Z3lkdpmurB9LJ5kc8
BoaVee1tysUaUKYDJBw5RJnSiADsFMV4cPVCAYJkjtIv2sMh5bI6ycI16N25eD8/
OK5QGzg6bZzw/zPZoV6PvPW4zdP3vjnA+85YwXSIBvJNDPucS2uuAJBqKk4rY+dI
4VShqTdVTDYfNxScrBLAGiWQ+yYR/URxAX/zpl8483TtAgMBAAGjggMqMIIDJjAO
BgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwG
A1UdEwEB/wQCMAAwHQYDVR0OBBYEFH0N6jr0FZb39ZfRsZWM8KIcjcasMB8GA1Ud
IwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8GCCsGAQUFBwEBBGMwYTAuBggr
BgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxldHNlbmNyeXB0Lm9yZzAvBggr
BgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxldHNlbmNyeXB0Lm9yZy8wLAYD
VR0RBCUwI4IJKi54bXBwLmpwgg1ndy5sYi54bXBwLmpwggd4bXBwLmpwMIH+BgNV
HSAEgfYwgfMwCAYGZ4EMAQIBMIHmBgsrBgEEAYLfEwEBATCB1jAmBggrBgEFBQcC
ARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlwdC5vcmcwgasGCCsGAQUFBwICMIGeDIGb
VGhpcyBDZXJ0aWZpY2F0ZSBtYXkgb25seSBiZSByZWxpZWQgdXBvbiBieSBSZWx5
aW5nIFBhcnRpZXMgYW5kIG9ubHkgaW4gYWNjb3JkYW5jZSB3aXRoIHRoZSBDZXJ0
aWZpY2F0ZSBQb2xpY3kgZm91bmQgYXQgaHR0cHM6Ly9sZXRzZW5jcnlwdC5vcmcv
cmVwb3NpdG9yeS8wggEFBgorBgEEAdZ5AgQCBIH2BIHzAPEAdgDbdK/uyynssf7K
PnFtLOW5qrs294Rxg8ddnU83th+/ZAAAAWXIHgHZAAAEAwBHMEUCIQCHl0j+AZsE
deEQa/SRUElNtiauQPrVyC4Mz/eLxIchlQIgLB9LW4d0SinsVpwL+4UTBbrakI8O
liJ9BhAlTbbGdVUAdwApPFGWVMg5ZbqqUPxYB9S3b79Yeily3KTDDPTlRUf0eAAA
AWXIHgO+AAAEAwBIMEYCIQCKulKWPub6WwGQUNahdUgAbqYBTUveR7/BL2ugQ6iv
tAIhANtoj1UR72xTUfGIcdOmo7J+j0w5Y+qL2hiNRkSTyNgxMA0GCSqGSIb3DQEB
CwUAA4IBAQCSF430tmeAhqosw/FbO4wFd98OT1iGQDd5y1xu5G8BQ5tgcXR1rgPt
8eldKaYcpvbK63SG+gk8lc4U2EyxrfFYYgMc09jl7vjZ0EbPpc7HMtUEh2fWRT/o
/2GUUsreUkLZ411CbxlrWSHdXvr9cC1vfQoIzBHlyZMtKLzKMKeRV0lb+Qsyzhth
z5uCZ47DPRteVz5t3GGEpiPq092u0OmNLkPBdHVphPDGtpOwZmzrfjEwEuC6LEx/
1RVLciOI2nYXQqXQS57Cuz62JYgsw8TudftkVBUD3Ngec6ke6YhkLRw/oVnZU/Ca
g+Qe68TOZJCrJC+NZq/HU7hjES0uq/Cx
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Certificate has expired.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    SEND (IMMED): <stream:stream to='xmpp.jp' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Event triggered: socket_error
WARNING  Failed to send b"<stream:stream to='xmpp.jp' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>"
DEBUG    Event triggered: session_end
DEBUG    Event triggered: socket_error
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    Event triggered: socket_error
ERROR    Socket Error #9: Bad file descriptor
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 1.7825936887454632 seconds before connecting.
```

## jabber.at

```console
$ python3 echo_client.py --j *****@jabber.at -p ********** -v
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    Waiting 1.7936620025751995 seconds before connecting.
DEBUG    DNS: Querying SRV records for jabber.at
DEBUG    DNS: Querying xmpp.jabber.at for AAAA records.
DEBUG    DNS: No AAAA records for xmpp.jabber.at
DEBUG    DNS: Querying xmpp.jabber.at for A records.
DEBUG    Connecting to 88.99.81.6:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream id="8964453743632919553" xml:lang="en" from="jabber.at" version="1.0">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIHijCCBnKgAwIBAgISA9mXbpxCJPPM+QLI/Tsro1T5MA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA4MjQxMTIzMzdaFw0x
ODExMjIxMTIzMzdaMBQxEjAQBgNVBAMTCWphYmJlci5hdDCCAiIwDQYJKoZIhvcN
AQEBBQADggIPADCCAgoCggIBAMy+V7pvi4Jt+jVa5+4Cpdanr6WyFoNcCJQTsomq
5O3T8qebeFtItfp5qhddLOuURKkVlgX4pE6aDgHpuUWUQs/iJqrJYUfY4cTB/HuZ
a5uTXEjRIbGpX5STSVX934eNnZ2ikwALba5/hZSjLC6Tl+Rz+8cDvCduPPQ05RE6
tWUvFBaZWIDn/Cv9fg8pBuyg03YJhDZyN8an5FeCwAafFFY4sIBxtO9/yLH44vyk
qqaqQE52mJ85WnGt5FRw1iLGKFQc2h4hvF/JQZQxcMuGU/QmGsBiJ37tFND6qI/9
0ScUQivoOOyFQegsw1gipKDU8cNLKc84Zy+EZ5n9o1ka/asVUafVZsQd6jqqtd/6
9t09FQvhAclZedYw2l3jI6N6BeOuxW2gLF9cGt/F8ASC6d+I30rZzROq6CePNiz9
f/5MnY/6f8RL0QjCR5zpFt4jm3uiUdlS5jetml0HV8OXnJqdTArmRnOy4y/tYEKq
xXzN6Wv7l4HXFWQlGEDr/AsZKfUXpkxhGrO/4QSopJ/4SjjPKUUjSmf8awApj25T
JiolrIAOvByIapWJL2TpNOsDs2XjpGI5wrHpRNGdGbLnR0shYeWbAFptScgXVNhN
UMTbjJekyh4lUw78126oYAJZuoMgWhWDsC2yd8/1dlO93vjq4BfT6InCQ7+SHosL
ctfBAgMBAAGjggOeMIIDmjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYB
BQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFBqxc1lxVq9c
NOTQLiOki/GFvY3OMB8GA1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8G
CCsGAQUFBwEBBGMwYTAuBggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxl
dHNlbmNyeXB0Lm9yZzAvBggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxl
dHNlbmNyeXB0Lm9yZy8wgaAGA1UdEQSBmDCBlYIUY29uZmVyZW5jZS5qYWJiZXIu
YXSCDmVjaG8uamFiYmVyLmF0gg5odHRwLmphYmJlci5hdIINaXJjLmphYmJlci5h
dIIJamFiYmVyLmF0gg9wcm94eS5qYWJiZXIuYXSCEHB1YnN1Yi5qYWJiZXIuYXSC
EHVwbG9hZC5qYWJiZXIuYXSCDnhtcHAuamFiYmVyLmF0MIH+BgNVHSAEgfYwgfMw
CAYGZ4EMAQIBMIHmBgsrBgEEAYLfEwEBATCB1jAmBggrBgEFBQcCARYaaHR0cDov
L2Nwcy5sZXRzZW5jcnlwdC5vcmcwgasGCCsGAQUFBwICMIGeDIGbVGhpcyBDZXJ0
aWZpY2F0ZSBtYXkgb25seSBiZSByZWxpZWQgdXBvbiBieSBSZWx5aW5nIFBhcnRp
ZXMgYW5kIG9ubHkgaW4gYWNjb3JkYW5jZSB3aXRoIHRoZSBDZXJ0aWZpY2F0ZSBQ
b2xpY3kgZm91bmQgYXQgaHR0cHM6Ly9sZXRzZW5jcnlwdC5vcmcvcmVwb3NpdG9y
eS8wggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdgDBFkrgp3LS1DktyArBB3DU8MSb
3pkaSEDB+gdRZPYzYAAAAWVr49S6AAAEAwBHMEUCIQDbUleknLwzWufUVSjuDgI5
lHggj8iyVoben84c/sQYvQIgbiPPtnboIEcZNgfSpzfAvcGzDeZbXz5TK8Dv9vAC
vxAAdgApPFGWVMg5ZbqqUPxYB9S3b79Yeily3KTDDPTlRUf0eAAAAWVr49TPAAAE
AwBHMEUCIQCIU+MEDgX+Rv1/4H6ZwSVlswfhyISFpuSmNhbVSmes7AIgGH/AXikW
S4SemGl4jGGtvr4MfepdMN9mIuJ4zR98QPkwDQYJKoZIhvcNAQELBQADggEBACRv
jGRDQ+w2L6RhvwYCobDXkb0bpjO6uB9aRjrBCTVSDh7hTp6eeDAEDIwoeN5z51eu
9ZzpkKoedcS0YAdmhLmX15lnFttED/ijMlAcCPrgQi8FB4ZS9r9Bhbcxr3GT2R05
rZmULw+uu4i5FocvNEt5m+7vOqny1HmPCR2T9kbwa8Yx4GPtXE+MxrsIrYHHYLNF
JoKMfms8/Ma4gmWlTGqhZoTkbMDQi3DQRNQ4t+p5yZCJtkXu8x/YfxbZSc+AEH9T
uJzWTOur8ob/tEN0G9BdRL6iKO9yw6IU3LYVLNcNdHKBdJEhhMHUCbE4ODnU3Z/h
CCK6DpawrbHJK46d8mc=
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Certificate has expired.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    SEND (IMMED): <stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Event triggered: socket_error
WARNING  Failed to send b"<stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>"
DEBUG    Event triggered: session_end
DEBUG    Event triggered: socket_error
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    Event triggered: socket_error
ERROR    Socket Error #9: Bad file descriptor
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 1.7538716395679341 seconds before connecting.
DEBUG    DNS: Querying xmpp.jabber.at for AAAA records.
DEBUG    DNS: No AAAA records for xmpp.jabber.at
DEBUG    DNS: Querying xmpp.jabber.at for A records.
DEBUG    Connecting to 88.99.81.6:443
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream id="2809225217670065153" xml:lang="en" from="jabber.at" version="1.0">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIHijCCBnKgAwIBAgISA9mXbpxCJPPM+QLI/Tsro1T5MA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA4MjQxMTIzMzdaFw0x
ODExMjIxMTIzMzdaMBQxEjAQBgNVBAMTCWphYmJlci5hdDCCAiIwDQYJKoZIhvcN
AQEBBQADggIPADCCAgoCggIBAMy+V7pvi4Jt+jVa5+4Cpdanr6WyFoNcCJQTsomq
5O3T8qebeFtItfp5qhddLOuURKkVlgX4pE6aDgHpuUWUQs/iJqrJYUfY4cTB/HuZ
a5uTXEjRIbGpX5STSVX934eNnZ2ikwALba5/hZSjLC6Tl+Rz+8cDvCduPPQ05RE6
tWUvFBaZWIDn/Cv9fg8pBuyg03YJhDZyN8an5FeCwAafFFY4sIBxtO9/yLH44vyk
qqaqQE52mJ85WnGt5FRw1iLGKFQc2h4hvF/JQZQxcMuGU/QmGsBiJ37tFND6qI/9
0ScUQivoOOyFQegsw1gipKDU8cNLKc84Zy+EZ5n9o1ka/asVUafVZsQd6jqqtd/6
9t09FQvhAclZedYw2l3jI6N6BeOuxW2gLF9cGt/F8ASC6d+I30rZzROq6CePNiz9
f/5MnY/6f8RL0QjCR5zpFt4jm3uiUdlS5jetml0HV8OXnJqdTArmRnOy4y/tYEKq
xXzN6Wv7l4HXFWQlGEDr/AsZKfUXpkxhGrO/4QSopJ/4SjjPKUUjSmf8awApj25T
JiolrIAOvByIapWJL2TpNOsDs2XjpGI5wrHpRNGdGbLnR0shYeWbAFptScgXVNhN
UMTbjJekyh4lUw78126oYAJZuoMgWhWDsC2yd8/1dlO93vjq4BfT6InCQ7+SHosL
ctfBAgMBAAGjggOeMIIDmjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYB
BQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFBqxc1lxVq9c
NOTQLiOki/GFvY3OMB8GA1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8G
CCsGAQUFBwEBBGMwYTAuBggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxl
dHNlbmNyeXB0Lm9yZzAvBggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxl
dHNlbmNyeXB0Lm9yZy8wgaAGA1UdEQSBmDCBlYIUY29uZmVyZW5jZS5qYWJiZXIu
YXSCDmVjaG8uamFiYmVyLmF0gg5odHRwLmphYmJlci5hdIINaXJjLmphYmJlci5h
dIIJamFiYmVyLmF0gg9wcm94eS5qYWJiZXIuYXSCEHB1YnN1Yi5qYWJiZXIuYXSC
EHVwbG9hZC5qYWJiZXIuYXSCDnhtcHAuamFiYmVyLmF0MIH+BgNVHSAEgfYwgfMw
CAYGZ4EMAQIBMIHmBgsrBgEEAYLfEwEBATCB1jAmBggrBgEFBQcCARYaaHR0cDov
L2Nwcy5sZXRzZW5jcnlwdC5vcmcwgasGCCsGAQUFBwICMIGeDIGbVGhpcyBDZXJ0
aWZpY2F0ZSBtYXkgb25seSBiZSByZWxpZWQgdXBvbiBieSBSZWx5aW5nIFBhcnRp
ZXMgYW5kIG9ubHkgaW4gYWNjb3JkYW5jZSB3aXRoIHRoZSBDZXJ0aWZpY2F0ZSBQ
b2xpY3kgZm91bmQgYXQgaHR0cHM6Ly9sZXRzZW5jcnlwdC5vcmcvcmVwb3NpdG9y
eS8wggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdgDBFkrgp3LS1DktyArBB3DU8MSb
3pkaSEDB+gdRZPYzYAAAAWVr49S6AAAEAwBHMEUCIQDbUleknLwzWufUVSjuDgI5
lHggj8iyVoben84c/sQYvQIgbiPPtnboIEcZNgfSpzfAvcGzDeZbXz5TK8Dv9vAC
vxAAdgApPFGWVMg5ZbqqUPxYB9S3b79Yeily3KTDDPTlRUf0eAAAAWVr49TPAAAE
AwBHMEUCIQCIU+MEDgX+Rv1/4H6ZwSVlswfhyISFpuSmNhbVSmes7AIgGH/AXikW
S4SemGl4jGGtvr4MfepdMN9mIuJ4zR98QPkwDQYJKoZIhvcNAQELBQADggEBACRv
jGRDQ+w2L6RhvwYCobDXkb0bpjO6uB9aRjrBCTVSDh7hTp6eeDAEDIwoeN5z51eu
9ZzpkKoedcS0YAdmhLmX15lnFttED/ijMlAcCPrgQi8FB4ZS9r9Bhbcxr3GT2R05
rZmULw+uu4i5FocvNEt5m+7vOqny1HmPCR2T9kbwa8Yx4GPtXE+MxrsIrYHHYLNF
JoKMfms8/Ma4gmWlTGqhZoTkbMDQi3DQRNQ4t+p5yZCJtkXu8x/YfxbZSc+AEH9T
uJzWTOur8ob/tEN0G9BdRL6iKO9yw6IU3LYVLNcNdHKBdJEhhMHUCbE4ODnU3Z/h
CCK6DpawrbHJK46d8mc=
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Certificate has expired.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    SEND (IMMED): <stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Event triggered: socket_error
WARNING  Failed to send b"<stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>"
DEBUG    Event triggered: session_end
DEBUG    Event triggered: socket_error
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    Event triggered: socket_error
ERROR    Socket Error #9: Bad file descriptor
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 1.9681116505169751 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 3.4362026426552443 seconds before connecting.
DEBUG    DNS: Querying SRV records for jabber.at
DEBUG    DNS: Querying xmpp.jabber.at for AAAA records.
DEBUG    DNS: No AAAA records for xmpp.jabber.at
DEBUG    DNS: Querying xmpp.jabber.at for A records.
DEBUG    Connecting to 88.99.81.6:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream id="15390366131632816129" xml:lang="en" from="jabber.at" version="1.0">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIHijCCBnKgAwIBAgISA9mXbpxCJPPM+QLI/Tsro1T5MA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA4MjQxMTIzMzdaFw0x
ODExMjIxMTIzMzdaMBQxEjAQBgNVBAMTCWphYmJlci5hdDCCAiIwDQYJKoZIhvcN
AQEBBQADggIPADCCAgoCggIBAMy+V7pvi4Jt+jVa5+4Cpdanr6WyFoNcCJQTsomq
5O3T8qebeFtItfp5qhddLOuURKkVlgX4pE6aDgHpuUWUQs/iJqrJYUfY4cTB/HuZ
a5uTXEjRIbGpX5STSVX934eNnZ2ikwALba5/hZSjLC6Tl+Rz+8cDvCduPPQ05RE6
tWUvFBaZWIDn/Cv9fg8pBuyg03YJhDZyN8an5FeCwAafFFY4sIBxtO9/yLH44vyk
qqaqQE52mJ85WnGt5FRw1iLGKFQc2h4hvF/JQZQxcMuGU/QmGsBiJ37tFND6qI/9
0ScUQivoOOyFQegsw1gipKDU8cNLKc84Zy+EZ5n9o1ka/asVUafVZsQd6jqqtd/6
9t09FQvhAclZedYw2l3jI6N6BeOuxW2gLF9cGt/F8ASC6d+I30rZzROq6CePNiz9
f/5MnY/6f8RL0QjCR5zpFt4jm3uiUdlS5jetml0HV8OXnJqdTArmRnOy4y/tYEKq
xXzN6Wv7l4HXFWQlGEDr/AsZKfUXpkxhGrO/4QSopJ/4SjjPKUUjSmf8awApj25T
JiolrIAOvByIapWJL2TpNOsDs2XjpGI5wrHpRNGdGbLnR0shYeWbAFptScgXVNhN
UMTbjJekyh4lUw78126oYAJZuoMgWhWDsC2yd8/1dlO93vjq4BfT6InCQ7+SHosL
ctfBAgMBAAGjggOeMIIDmjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYB
BQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFBqxc1lxVq9c
NOTQLiOki/GFvY3OMB8GA1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8G
CCsGAQUFBwEBBGMwYTAuBggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxl
dHNlbmNyeXB0Lm9yZzAvBggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxl
dHNlbmNyeXB0Lm9yZy8wgaAGA1UdEQSBmDCBlYIUY29uZmVyZW5jZS5qYWJiZXIu
YXSCDmVjaG8uamFiYmVyLmF0gg5odHRwLmphYmJlci5hdIINaXJjLmphYmJlci5h
dIIJamFiYmVyLmF0gg9wcm94eS5qYWJiZXIuYXSCEHB1YnN1Yi5qYWJiZXIuYXSC
EHVwbG9hZC5qYWJiZXIuYXSCDnhtcHAuamFiYmVyLmF0MIH+BgNVHSAEgfYwgfMw
CAYGZ4EMAQIBMIHmBgsrBgEEAYLfEwEBATCB1jAmBggrBgEFBQcCARYaaHR0cDov
L2Nwcy5sZXRzZW5jcnlwdC5vcmcwgasGCCsGAQUFBwICMIGeDIGbVGhpcyBDZXJ0
aWZpY2F0ZSBtYXkgb25seSBiZSByZWxpZWQgdXBvbiBieSBSZWx5aW5nIFBhcnRp
ZXMgYW5kIG9ubHkgaW4gYWNjb3JkYW5jZSB3aXRoIHRoZSBDZXJ0aWZpY2F0ZSBQ
b2xpY3kgZm91bmQgYXQgaHR0cHM6Ly9sZXRzZW5jcnlwdC5vcmcvcmVwb3NpdG9y
eS8wggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdgDBFkrgp3LS1DktyArBB3DU8MSb
3pkaSEDB+gdRZPYzYAAAAWVr49S6AAAEAwBHMEUCIQDbUleknLwzWufUVSjuDgI5
lHggj8iyVoben84c/sQYvQIgbiPPtnboIEcZNgfSpzfAvcGzDeZbXz5TK8Dv9vAC
vxAAdgApPFGWVMg5ZbqqUPxYB9S3b79Yeily3KTDDPTlRUf0eAAAAWVr49TPAAAE
AwBHMEUCIQCIU+MEDgX+Rv1/4H6ZwSVlswfhyISFpuSmNhbVSmes7AIgGH/AXikW
S4SemGl4jGGtvr4MfepdMN9mIuJ4zR98QPkwDQYJKoZIhvcNAQELBQADggEBACRv
jGRDQ+w2L6RhvwYCobDXkb0bpjO6uB9aRjrBCTVSDh7hTp6eeDAEDIwoeN5z51eu
9ZzpkKoedcS0YAdmhLmX15lnFttED/ijMlAcCPrgQi8FB4ZS9r9Bhbcxr3GT2R05
rZmULw+uu4i5FocvNEt5m+7vOqny1HmPCR2T9kbwa8Yx4GPtXE+MxrsIrYHHYLNF
JoKMfms8/Ma4gmWlTGqhZoTkbMDQi3DQRNQ4t+p5yZCJtkXu8x/YfxbZSc+AEH9T
uJzWTOur8ob/tEN0G9BdRL6iKO9yw6IU3LYVLNcNdHKBdJEhhMHUCbE4ODnU3Z/h
CCK6DpawrbHJK46d8mc=
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Certificate has expired.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    SEND (IMMED): <stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Event triggered: socket_error
WARNING  Failed to send b"<stream:stream to='jabber.at' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>"
DEBUG    Event triggered: session_end
DEBUG    Event triggered: socket_error
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    Event triggered: socket_error
ERROR    Socket Error #9: Bad file descriptor
DEBUG    reconnecting...
DEBUG    connecting...
```

## jwchat.org

```console
$ python3 echo_client.py --j ******@jwchat.org -p ********* -v
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    Waiting 2.027951145930004 seconds before connecting.
DEBUG    DNS: Querying SRV records for jwchat.org
DEBUG    DNS: Querying jwchat.org for AAAA records.
DEBUG    DNS: No AAAA records for jwchat.org
DEBUG    DNS: Querying jwchat.org for A records.
DEBUG    Connecting to 188.40.80.245:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='jwchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream from="jwchat.org" version="1.0" xml:lang="en" id="7017279279064869184">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><c xmlns="http://jabber.org/protocol/caps" node="http://www.process-one.net/en/ejabberd/" hash="sha-1" ver="HiCcrtD+h+kKiCJpPPzqXGnZR2w=" /><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIGMDCCBRigAwIBAgISA1BS84hGbwQA8ig1IybiUuiSMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA4MTgyMTAyMjZaFw0x
ODExMTYyMTAyMjZaMB0xGzAZBgNVBAMTEmFjY291bnRzLngtYmVyZy5kZTCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALZjsa54QCVIjqddF4/cXizXX6K3
aB1gEROmK0zvP/VV59lYt7yALrn23W5fzqs44ltiWZP8ISnYPK3RvbrfcmKSxetW
UHNCGykK/rr2aHAsmvv2lNPh8dNTctyYr/hTskrHiiqFgi0TrvqDN1BvSc508RGp
HywIA5ppDN9ImzrlB4o+uXRo2cUxLOAFcVQEhwqTaTdDYSQUVPeiYqHYW4y5Xq7Q
dJL36IKZf0rvVdt3f360lwt9aEenAMZ5OYMv6sMaRegcCEbXwOcRw2FNLh45hc5d
5l0c/W5xQgqQIiP/0AtTPOftZG3HUQFuPWws/utU+fXJRVKtdJbJIiZRSjsCAwEA
AaOCAzswggM3MA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
KwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQU7z/ixwzDU4HW6PurrMHr
G7UKO54wHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUH
AQEEYzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5
cHQub3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5
cHQub3JnLzA+BgNVHREENzA1ghNhY2NvdW50cy5qd2NoYXQub3JnghJhY2NvdW50
cy54LWJlcmcuZGWCCmp3Y2hhdC5vcmcwgf4GA1UdIASB9jCB8zAIBgZngQwBAgEw
geYGCysGAQQBgt8TAQEBMIHWMCYGCCsGAQUFBwIBFhpodHRwOi8vY3BzLmxldHNl
bmNyeXB0Lm9yZzCBqwYIKwYBBQUHAgIwgZ4MgZtUaGlzIENlcnRpZmljYXRlIG1h
eSBvbmx5IGJlIHJlbGllZCB1cG9uIGJ5IFJlbHlpbmcgUGFydGllcyBhbmQgb25s
eSBpbiBhY2NvcmRhbmNlIHdpdGggdGhlIENlcnRpZmljYXRlIFBvbGljeSBmb3Vu
ZCBhdCBodHRwczovL2xldHNlbmNyeXB0Lm9yZy9yZXBvc2l0b3J5LzCCAQQGCisG
AQQB1nkCBAIEgfUEgfIA8AB3ANt0r+7LKeyx/so+cW0s5bmquzb3hHGDx12dTze2
H79kAAABZU8Pln4AAAQDAEgwRgIhAPCcltTOoGeSGsRS5JkfQnBq3ChDyAOQg7OV
N8d/dyuaAiEA4inwJt5F0yl4HC+D/llaGFcyCZfrNGzzv0ZfhM8JZ/YAdQApPFGW
VMg5ZbqqUPxYB9S3b79Yeily3KTDDPTlRUf0eAAAAWVPD5iIAAAEAwBGMEQCIFJb
oAgeWBHtsXN7Zo5N+evD1yinfyQxGXaTOFOr6GbTAiAxe49WYD6cUmAbOkSyllpG
IR7v9nYCewGSCKZJmBVuZjANBgkqhkiG9w0BAQsFAAOCAQEADoSvisqytGEznOy2
dBPaSIexs2BLb1xMFx7v9RNsacU9SAAjnZI4VOUwc1vGENs7nH2bCzFXBn09IUA9
CZa/WRsXnU7ly12iNewlzyhFViBHaOYOiM5DTAVjn0gY0S5F1IgGAbJMBjWPyHtl
dt2FpDMERV0r6kK8AYpIPVxfr1X6a/7oncE3DSK7Pc6IxbBvdmEllpQ43Lw3hKiG
D6ZI95bFa1Gcl8j7bbNmdusSu9tL5v0HXH5sXFEvnuHK+9HZNGpAojkMKvbJ+5Cx
/ha9zIgnwjMHIp4t4Y3kwZrBw1oYpWdYQyPLetK8WM8j7WoeqOs8UmEZfjIKV69P
ZyCZGQ==
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Certificate has expired.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    SEND (IMMED): <stream:stream to='jwchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Event triggered: socket_error
WARNING  Failed to send b"<stream:stream to='jwchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>"
DEBUG    Event triggered: session_end
DEBUG    Event triggered: socket_error
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    Event triggered: socket_error
ERROR    Socket Error #9: Bad file descriptor
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 1.9173612032388647 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 3.6843064312295164 seconds before connecting.
DEBUG    DNS: Querying SRV records for jwchat.org
DEBUG    DNS: Querying jwchat.org for AAAA records.
DEBUG    DNS: No AAAA records for jwchat.org
DEBUG    DNS: Querying jwchat.org for A records.
DEBUG    Connecting to 188.40.80.245:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='jwchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream from="jwchat.org" version="1.0" xml:lang="en" id="12889234555851272116">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><c xmlns="http://jabber.org/protocol/caps" node="http://www.process-one.net/en/ejabberd/" hash="sha-1" ver="HiCcrtD+h+kKiCJpPPzqXGnZR2w=" /><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIGMDCCBRigAwIBAgISA1BS84hGbwQA8ig1IybiUuiSMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODA4MTgyMTAyMjZaFw0x
ODExMTYyMTAyMjZaMB0xGzAZBgNVBAMTEmFjY291bnRzLngtYmVyZy5kZTCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALZjsa54QCVIjqddF4/cXizXX6K3
aB1gEROmK0zvP/VV59lYt7yALrn23W5fzqs44ltiWZP8ISnYPK3RvbrfcmKSxetW
UHNCGykK/rr2aHAsmvv2lNPh8dNTctyYr/hTskrHiiqFgi0TrvqDN1BvSc508RGp
HywIA5ppDN9ImzrlB4o+uXRo2cUxLOAFcVQEhwqTaTdDYSQUVPeiYqHYW4y5Xq7Q
dJL36IKZf0rvVdt3f360lwt9aEenAMZ5OYMv6sMaRegcCEbXwOcRw2FNLh45hc5d
5l0c/W5xQgqQIiP/0AtTPOftZG3HUQFuPWws/utU+fXJRVKtdJbJIiZRSjsCAwEA
AaOCAzswggM3MA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
KwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQU7z/ixwzDU4HW6PurrMHr
G7UKO54wHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUH
AQEEYzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5
cHQub3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5
cHQub3JnLzA+BgNVHREENzA1ghNhY2NvdW50cy5qd2NoYXQub3JnghJhY2NvdW50
cy54LWJlcmcuZGWCCmp3Y2hhdC5vcmcwgf4GA1UdIASB9jCB8zAIBgZngQwBAgEw
geYGCysGAQQBgt8TAQEBMIHWMCYGCCsGAQUFBwIBFhpodHRwOi8vY3BzLmxldHNl
bmNyeXB0Lm9yZzCBqwYIKwYBBQUHAgIwgZ4MgZtUaGlzIENlcnRpZmljYXRlIG1h
eSBvbmx5IGJlIHJlbGllZCB1cG9uIGJ5IFJlbHlpbmcgUGFydGllcyBhbmQgb25s
eSBpbiBhY2NvcmRhbmNlIHdpdGggdGhlIENlcnRpZmljYXRlIFBvbGljeSBmb3Vu
ZCBhdCBodHRwczovL2xldHNlbmNyeXB0Lm9yZy9yZXBvc2l0b3J5LzCCAQQGCisG
AQQB1nkCBAIEgfUEgfIA8AB3ANt0r+7LKeyx/so+cW0s5bmquzb3hHGDx12dTze2
H79kAAABZU8Pln4AAAQDAEgwRgIhAPCcltTOoGeSGsRS5JkfQnBq3ChDyAOQg7OV
N8d/dyuaAiEA4inwJt5F0yl4HC+D/llaGFcyCZfrNGzzv0ZfhM8JZ/YAdQApPFGW
VMg5ZbqqUPxYB9S3b79Yeily3KTDDPTlRUf0eAAAAWVPD5iIAAAEAwBGMEQCIFJb
oAgeWBHtsXN7Zo5N+evD1yinfyQxGXaTOFOr6GbTAiAxe49WYD6cUmAbOkSyllpG
IR7v9nYCewGSCKZJmBVuZjANBgkqhkiG9w0BAQsFAAOCAQEADoSvisqytGEznOy2
dBPaSIexs2BLb1xMFx7v9RNsacU9SAAjnZI4VOUwc1vGENs7nH2bCzFXBn09IUA9
CZa/WRsXnU7ly12iNewlzyhFViBHaOYOiM5DTAVjn0gY0S5F1IgGAbJMBjWPyHtl
dt2FpDMERV0r6kK8AYpIPVxfr1X6a/7oncE3DSK7Pc6IxbBvdmEllpQ43Lw3hKiG
D6ZI95bFa1Gcl8j7bbNmdusSu9tL5v0HXH5sXFEvnuHK+9HZNGpAojkMKvbJ+5Cx
/ha9zIgnwjMHIp4t4Y3kwZrBw1oYpWdYQyPLetK8WM8j7WoeqOs8UmEZfjIKV69P
ZyCZGQ==
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Certificate has expired.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    SEND (IMMED): <stream:stream to='jwchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Event triggered: socket_error
WARNING  Failed to send b"<stream:stream to='jwchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>"
DEBUG    Event triggered: session_end
DEBUG    Event triggered: socket_error
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    Event triggered: socket_error
ERROR    Socket Error #9: Bad file descriptor
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 2.016161060685047 seconds before connecting.
```

Try with 1.3.2 ^^

@s-nt-s: Any news?

Have you tested with "master"?
- https://github.com/fritzy/SleekXMPP/commits/develop

It works?

Yes, I have tested with master, and It doesn't work.
Is sleekxmpp unmaintained? Should I migrate to another library?

new logs:

# My environment

```console
$ python3 --version
Python 3.6.9
$ python3 -c "import sleekxmpp; print('sleekxmpp=='+sleekxmpp.__version__)"
sleekxmpp==1.3.3
$ wget https://raw.githubusercontent.com/fritzy/SleekXMPP/develop/examples/echo_client.py
```

# The problem

## suchat.org

```console
$ python3 echo_client.py --j myfoobotxmpp@suchat.org -p *************** -v
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    Waiting 2.0550653810790784 seconds before connecting.
DEBUG    DNS: Querying SRV records for suchat.org
DEBUG    DNS: Querying xmpp.suchat.org for AAAA records.
DEBUG    DNS: Querying xmpp.suchat.org for A records.
DEBUG    Connecting to [2a01:4f8:c2c:f2f9::1]:5222
DEBUG    Event triggered: socket_error
ERROR    Could not connect to [2a01:4f8:c2c:f2f9::1]:5222. Socket Error #101: Network is unreachable
DEBUG    Waiting 2.357904363850964 seconds before connecting.
DEBUG    Connecting to 78.47.75.145:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='suchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream id="8995026104536303436" version="1.0" xml:lang="en" from="suchat.org">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
ERROR    CERT: Invalid certificate trust chain.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
ERROR    Can not read from closed socket.
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 2.1347084661888474 seconds before connecting.
DEBUG    DNS: Querying xmpps.suchat.org for AAAA records.
DEBUG    DNS: Querying xmpps.suchat.org for A records.
DEBUG    Connecting to [2a01:4f8:c0c:588b::1]:5222
DEBUG    Event triggered: socket_error
ERROR    Could not connect to [2a01:4f8:c0c:588b::1]:5222. Socket Error #101: Network is unreachable
DEBUG    Waiting 1.8498137045963943 seconds before connecting.
DEBUG    Connecting to 88.198.104.83:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='suchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream id="6769852389691356271" version="1.0" xml:lang="en" from="suchat.org">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
ERROR    CERT: Invalid certificate trust chain.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
ERROR    Can not read from closed socket.
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 2.4010539221756346 seconds before connecting.
```

## xmpp.jp

```console
$ python3 echo_client.py --j myfoobotxmpp@xmpp.jp -p *************** -v
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    Waiting 2.3524091455176004 seconds before connecting.
DEBUG    DNS: Querying SRV records for xmpp.jp
DEBUG    DNS: Querying tokyo.xmpp.jp for AAAA records.
DEBUG    DNS: No AAAA records for tokyo.xmpp.jp
DEBUG    DNS: Querying tokyo.xmpp.jp for A records.
DEBUG    Connecting to 160.16.212.196:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='xmpp.jp' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream id="7132754639959951361" version="1.0" xml:lang="en" from="xmpp.jp">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIFYDCCBEigAwIBAgISA1uwdGc0wSnafb6OL9USYyYsMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDAxMDkwNTExMzRaFw0y
MDA0MDgwNTExMzRaMBIxEDAOBgNVBAMTB3htcHAuanAwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQDYiqPB2cUilfYLcbXkyfPdpe27QCnWksS3eSSAjOn1
tpsASXai9mLUA0N0MniXmuin2UhPoB2fPjrkjNNX1pU4oAFVTo8pEjKA/vMC2cd7
qfGOEGXfpwY3hw2VvGyC+Wgw95uhMErE4zfxoGlTplIxbhwkrGJJDjybnnTe6go4
Irp7tRaNjXpROhAGqUd17s4TxteqcKGNksVL1Kz4vQS1hxsMkeq9GSwejxaRqWZv
B96QHXDBtEue/myzble1AzlEDUSpS9g+hO/a95KfIop/6knmgRrH3ptkiwqcecpp
cmC4SK1SFdxSU2vcFcxHOs+vqt/5TC6fWzkGouJ9Nvo3AgMBAAGjggJ2MIICcjAO
BgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwG
A1UdEwEB/wQCMAAwHQYDVR0OBBYEFP6MMqA6RDjXiWxRoRsXoNFLsgs2MB8GA1Ud
IwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8GCCsGAQUFBwEBBGMwYTAuBggr
BgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxldHNlbmNyeXB0Lm9yZzAvBggr
BgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxldHNlbmNyeXB0Lm9yZy8wLAYD
VR0RBCUwI4IJKi54bXBwLmpwgg1ndy5sYi54bXBwLmpwggd4bXBwLmpwMEwGA1Ud
IARFMEMwCAYGZ4EMAQIBMDcGCysGAQQBgt8TAQEBMCgwJgYIKwYBBQUHAgEWGmh0
dHA6Ly9jcHMubGV0c2VuY3J5cHQub3JnMIIBBAYKKwYBBAHWeQIEAgSB9QSB8gDw
AHcAsh4FzIuizYogTodm+Su5iiUgZ2va+nDnsklTLe+LkF4AAAFviO36PwAABAMA
SDBGAiEAjomIXYepvJnGzqtwcDHljGCzhwUlYvYzjNWFaBS2DvsCIQDq+FqVSs6j
PfylQdUBLqvPjKVXfDUX+Tgnf/WTx65L9AB1AG9Tdqwx8DEZ2JkApFEV/3cVHBHZ
AsEAKQaNsgiaN9kTAAABb4jt+mMAAAQDAEYwRAIgM+2kj8hsw8ljN3giEx7JUDQX
QUIfTzM0J631LBTn0tQCIGLaXmuh4Pb+MZ0hD4t8J5PAR0X4bQ5THgv4jgScC5W9
MA0GCSqGSIb3DQEBCwUAA4IBAQA4/qepfD2/UKkn4wF3kvjGRpcRO98URxhL1eDu
KwywZKb8vOeRn02VfZ/GjkxA6SLNI5C1IyaGv2Gzf90aIE9VXAP72ufHKFaNMOJZ
ZJ4600He2naCRjLieE029mwP7pKBZx2dwwN6M0X9AP7xCKQUNeYIyUQkgOOVz+T/
aAzH15GZc3LXh+WmNreOeYPXWi8myz2VlyjKkeg+Pgv7bTRnk5cVhqJRbVbJD+++
o/a12W0UcsWfUzXw6SIuZR6hz/DiHiPnEsQsSXYR7xEkcv+NuY0dRkTxur4v8Mk7
IlgdXnSlI3lnh2d2p2Gt0jjw8LHYQ8UgJlzs6Fs4Gca06+5R
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Connection error.
ERROR    <TagSet object at 0x7fba0dcd80b8 tags 0:32:16> not in asn1Spec: <OctetString schema object at 0x7fba0dce3b38 tagSet <TagSet object at 0x7fba0e004f60 tags 0:0:4> encoding iso-8859-1>
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/xmlstream.py", line 1492, in _process
    if not self.__read_xml():
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/xmlstream.py", line 1564, in __read_xml
    self.__spawn_event(xml)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/xmlstream.py", line 1632, in __spawn_event
    handler.prerun(stanza_copy)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/handler/callback.py", line 64, in prerun
    self.run(payload, True)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/handler/callback.py", line 76, in run
    self._pointer(payload)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/features/feature_starttls/starttls.py", line 64, in _handle_starttls_proceed
    if self.xmpp.start_tls():
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/xmlstream.py", line 889, in start_tls
    cert.verify(self._expected_server_name, self._der_cert)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/cert.py", line 134, in verify
    cert_names = extract_names(raw_cert)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/cert.py", line 73, in extract_names
    asn1Spec=OctetString())[0]
  File "/home/shernanz/.local/lib/python3.6/site-packages/pyasn1/codec/ber/decoder.py", line 1530, in __call__
    '%s not in asn1Spec: %r' % (tagSet, asn1Spec)
pyasn1.error.PyAsn1Error: <TagSet object at 0x7fba0dcd80b8 tags 0:32:16> not in asn1Spec: <OctetString schema object at 0x7fba0dce3b38 tagSet <TagSet object at 0x7fba0e004f60 tags 0:0:4> encoding iso-8859-1>
DEBUG    reconnecting...
DEBUG    Event triggered: session_end
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    connecting...
DEBUG    Waiting 2.182856674502724 seconds before connecting.
```

## jwchat.org

```console
$ python3 echo_client.py --j myfoobotxmpp@jwchat.org -p *************** -v
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    Waiting 1.9769454502773929 seconds before connecting.
DEBUG    DNS: Querying SRV records for jwchat.org
DEBUG    DNS: Querying jwchat.org for AAAA records.
DEBUG    DNS: No AAAA records for jwchat.org
DEBUG    DNS: Querying jwchat.org for A records.
DEBUG    Connecting to 188.40.80.245:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='jwchat.org' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream id="7594903480059987080" from="jwchat.org" version="1.0" xml:lang="en">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><c xmlns="http://jabber.org/protocol/caps" hash="sha-1" node="http://www.process-one.net/en/ejabberd/" ver="HiCcrtD+h+kKiCJpPPzqXGnZR2w=" /><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
DEBUG    CERT: -----BEGIN CERTIFICATE-----
MIIFfTCCBGWgAwIBAgISBMIm4p955K5i8h9ejL41fxueMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDAxMDUyMjAzMDhaFw0y
MDA0MDQyMjAzMDhaMB0xGzAZBgNVBAMTEmFjY291bnRzLngtYmVyZy5kZTCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAL0CTBgb4uJGUZJ2/S/0qwRTFZP8
Q1lGJXPYshPOeKr+IRmqefqW+0JxMO9C0D3ndYz0DlCAYum27S38rne+m9rpxF2m
t87VE3hOlMZgxaVeljQ2UQ08d/16v+srCQ1bZrnQKebpSogYPwUq8yXZMUZXCfzP
76M8Y7l//Kr2+anDB226mJYT4MKVxTnN79mJoHDderoCVA+HwCr44XGdXPzoUxCb
tR/NFcX5nRhvIE7KweZLHlMIrDlW+yy4vhzJbDiP9FiBXlsb+B7/XLqs6h3JsDUI
+xkiRx3oe7bK57xgfZD27vRLJ75r3SswSPtNnIPPrm0N1n8zFTS0P6n9k68CAwEA
AaOCAogwggKEMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
KwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUuA0ErH0OQMLGzdjRTtVK
QOnBXKAwHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUH
AQEEYzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5
cHQub3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5
cHQub3JnLzA+BgNVHREENzA1ghNhY2NvdW50cy5qd2NoYXQub3JnghJhY2NvdW50
cy54LWJlcmcuZGWCCmp3Y2hhdC5vcmcwTAYDVR0gBEUwQzAIBgZngQwBAgEwNwYL
KwYBBAGC3xMBAQEwKDAmBggrBgEFBQcCARYaaHR0cDovL2Nwcy5sZXRzZW5jcnlw
dC5vcmcwggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdgBep3P531bA57U2SH3QSeAy
epGaDIShEhKEGHWWgXFFWAAAAW938qUmAAAEAwBHMEUCIBzKg8z+EiTn3pjqHtr+
f5+Lvcgj1j96t3Lh+8usYyONAiEA7TJsY0fl19uEwRWOD6Y/+KSGQzvJhkUr5UnE
PxmcTUoAdgAHt1wb5X1o//Gwxh0jFce65ld8V5S3au68YToaadOiHAAAAW938qVR
AAAEAwBHMEUCIQD/atXtQQODMGQtBD8qANjCaMjryAnxTPurQRON5mF7QgIgI5M1
MilV9+oY7QdyHrRqCywRJnSxO+lpQ2XuTXkax7MwDQYJKoZIhvcNAQELBQADggEB
AEQ9PLqN74QTCAP/0YPxDIwGNyojGToNrn05GVRFKyjvb4OJiT+R8KVErpjBm/PX
ckWRwZuf6sLlF7VyUfP45eHp4ZvZTRIo81jTtONZOCuioTo/HUGGTAWF2RO2vXBs
bC1VdAYtZEZSndpzKloOH8NRkWhPueOrG1na3FaYsA8BhU8N+Uo5fI75KCsCvGPm
d0K6pEGDJT3hn/cw1w9M8JyDo4RWAFo0gLKPGLl42P0prF4yZIxvE3zcohxXX1de
Be835gxCqr+seG9rXgMRCYdGCc3XOwRJLHeaqC4/r/KU7bn1qEu/YHvZCm4SjkEd
KwG8dAa8vTUEhibOT0bwB/Y=
-----END CERTIFICATE-----

DEBUG    Event triggered: ssl_cert
ERROR    Connection error.
ERROR    <TagSet object at 0x7f6868f7f198 tags 0:32:16> not in asn1Spec: <OctetString schema object at 0x7f6868f8cc50 tagSet <TagSet object at 0x7f68692aff60 tags 0:0:4> encoding iso-8859-1>
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/xmlstream.py", line 1492, in _process
    if not self.__read_xml():
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/xmlstream.py", line 1564, in __read_xml
    self.__spawn_event(xml)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/xmlstream.py", line 1632, in __spawn_event
    handler.prerun(stanza_copy)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/handler/callback.py", line 64, in prerun
    self.run(payload, True)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/handler/callback.py", line 76, in run
    self._pointer(payload)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/features/feature_starttls/starttls.py", line 64, in _handle_starttls_proceed
    if self.xmpp.start_tls():
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/xmlstream.py", line 889, in start_tls
    cert.verify(self._expected_server_name, self._der_cert)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/cert.py", line 134, in verify
    cert_names = extract_names(raw_cert)
  File "/usr/local/lib/python3.6/dist-packages/sleekxmpp/xmlstream/cert.py", line 73, in extract_names
    asn1Spec=OctetString())[0]
  File "/home/shernanz/.local/lib/python3.6/site-packages/pyasn1/codec/ber/decoder.py", line 1530, in __call__
    '%s not in asn1Spec: %r' % (tagSet, asn1Spec)
pyasn1.error.PyAsn1Error: <TagSet object at 0x7f6868f7f198 tags 0:32:16> not in asn1Spec: <OctetString schema object at 0x7f6868f8cc50 tagSet <TagSet object at 0x7f68692aff60 tags 0:0:4> encoding iso-8859-1>
DEBUG    reconnecting...
DEBUG    Event triggered: session_end
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    connecting...
DEBUG    Waiting 1.9525787336847542 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 4.480320803945388 seconds before connecting.
```

## protonxmpp.ch

```console
$ python3 echo_client.py --j myfoobotxmpp@protonxmpp.ch -p *************** -v
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    Waiting 2.2805581822372276 seconds before connecting.
DEBUG    DNS: Querying SRV records for protonxmpp.ch
DEBUG    DNS: Querying protonxmpp.ch for AAAA records.
DEBUG    DNS: No AAAA records for protonxmpp.ch
DEBUG    DNS: Querying protonxmpp.ch for A records.
DEBUG    Connecting to 167.71.2.211:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='protonxmpp.ch' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream from="protonxmpp.ch" id="3jchinnkz2" xml:lang="en" version="1.0">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>PLAIN</mechanism><mechanism>SCRAM-SHA-1</mechanism><mechanism>CRAM-MD5</mechanism><mechanism>DIGEST-MD5</mechanism></mechanisms></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
ERROR    CERT: Invalid certificate trust chain.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
ERROR    Can not read from closed socket.
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 1.4115443117907138 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 2.773126698792038 seconds before connecting.
DEBUG    DNS: Querying SRV records for protonxmpp.ch
DEBUG    DNS: Querying protonxmpp.ch for AAAA records.
DEBUG    DNS: No AAAA records for protonxmpp.ch
DEBUG    DNS: Querying protonxmpp.ch for A records.
DEBUG    Connecting to 167.71.2.211:5222
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='protonxmpp.ch' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    RECV: <stream:stream from="protonxmpp.ch" id="87rsdk37t" xml:lang="en" version="1.0">
DEBUG    RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>PLAIN</mechanism><mechanism>SCRAM-SHA-1</mechanism><mechanism>CRAM-MD5</mechanism><mechanism>DIGEST-MD5</mechanism></mechanisms></stream:features>
DEBUG    SEND (IMMED): <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
DEBUG    RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
DEBUG    Starting TLS
INFO     Negotiating TLS
INFO     Using SSL version: TLSv1
ERROR    CERT: Invalid certificate trust chain.
DEBUG    Event triggered: session_end
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
ERROR    Can not read from closed socket.
DEBUG    reconnecting...
DEBUG    connecting...
DEBUG    Waiting 2.135751964399079 seconds before connecting.
DEBUG    No remaining DNS records to try.
DEBUG    Waiting 4.327471469384208 seconds before connecting.
```

<hr/>

There isn't any improvent with `master` or `1.3.2`