Continuously connects and disconnects from ejabberd server.

I am trying the same code as provided here.
[SleekXMPP](https://github.com/fritzy/SleekXMPP#the-sleekxmpp-boilerplate)

But I am doing 

```
xmpp = EchoBot('alice@ejabberd', 'password') #jid and pass of registered user
xmpp.connect(address=('127.0.0.1',5280))  #ip:port of ejabberd server
```

here is the log..

```
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Connecting to 127.0.0.1:5280
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    Starting HANDLER THREAD
DEBUG    Loading event runner
DEBUG    SEND (IMMED): <stream:stream to='ejabberd' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Scheduled event: Session timeout check: ()
DEBUG    Session start has taken more than 45 seconds
DEBUG    Event triggered: session_end
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
ERROR    Error reading from XML stream.
DEBUG    reconnecting...
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    connecting...
DEBUG    Connecting to 127.0.0.1:5280
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='ejabberd' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Scheduled event: Session timeout check: ()
DEBUG    Session start has taken more than 45 seconds
DEBUG    Event triggered: session_end
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
ERROR    Error reading from XML stream.
DEBUG    reconnecting...
DEBUG    Event triggered: disconnected
DEBUG     ==== TRANSITION connected -> disconnected
DEBUG    connecting...
DEBUG    Connecting to 127.0.0.1:5280
DEBUG    Event triggered: connected
DEBUG     ==== TRANSITION disconnected -> connected
DEBUG    SEND (IMMED): <stream:stream to='ejabberd' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
DEBUG    Scheduled event: Session timeout check: ()
DEBUG    Session start has taken more than 45 seconds
DEBUG    Event triggered: session_end
DEBUG    SEND (IMMED): </stream:stream>
INFO     Waiting for </stream:stream> from server
ERROR    Error reading from XML stream.
DEBUG    reconnecting...
DEBUG    Event triggered: disconnected
```


5280 is usually the http port. Can you try port 5222?


Thanks @sezuan  it works!
