while running echo programm getting following error? and what password I need to type command line and where i can register account(jid and password)?

weber@weber-desktop:~/jabber/SleekXMPP$ python runt.py -d -j echobot@example.com
Password: 
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
DEBUG    Loaded Plugin: RFC 3920: Stream Feature: Start Session
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
DEBUG    Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
DEBUG    Loaded Plugin: RFC 6120: Stream Feature: SASL
DEBUG    Loaded Plugin: XEP-0030: Service Discovery
DEBUG    Loaded Plugin: XEP-0004: Data Forms
DEBUG    Loaded Plugin: XEP-0082: XMPP Date and Time Profiles
DEBUG    Loaded Plugin: XEP-0131: Stanza Headers and Internet Metadata
DEBUG    Loaded Plugin: XEP-0060: Publish-Subscribe
DEBUG    Loaded Plugin: XEP-0199: XMPP Ping
DEBUG    DNS: Querying SRV records for example.com
DEBUG    DNS: No SRV records for example.com.
DEBUG    DNS: Querying example.com for AAAA records.
DEBUG    DNS: Querying example.com for A records.
DEBUG    Connecting to [2606:2800:220:1:248:1893:25c8:1946]:5222
DEBUG    Event triggered: socket_error
ERROR    Could not connect to [2606:2800:220:1:248:1893:25c8:1946]:5222. Socket Error #101: Network is unreachable
DEBUG    Connecting to 93.184.216.34:5222


Looks like your internet service provider doesn't support IPv6


then what i need to do?


You have to put there, your jabberid and password using them you did register yourself on ejabbered server. If you are using ejabberd server ... :p


@satyanani40 Did you manage to overcome this?

Can be overcome by disabling ipv6 per this issue: https://github.com/fritzy/SleekXMPP/issues/175